<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.hups.productMageMent.dao.WfDipProductionMapper" >
  <resultMap id="BaseResultMap" type="cn.hups.productMageMent.entity.WfDipProduction" >
    <constructor >
      <idArg column="pk_dip_production" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="pk_smt_production" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="process" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="dip_state" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="pickingtime" jdbcType="CHAR" javaType="java.lang.String" />
      <arg column="starttime" jdbcType="CHAR" javaType="java.lang.String" />
      <arg column="finishtime" jdbcType="CHAR" javaType="java.lang.String" />
      <arg column="numbertime" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="completion_number" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="creator" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="creationtime" jdbcType="CHAR" javaType="java.lang.String" />
      <arg column="modifier" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="modifiertime" jdbcType="CHAR" javaType="java.lang.String" />
      <arg column="dr" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="ts" jdbcType="CHAR" javaType="java.lang.String" />
    </constructor>
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    pk_dip_production, pk_smt_production, process, dip_state, pickingtime, starttime, 
    finishtime, numbertime, completion_number, creator, creationtime, modifier, modifiertime, 
    dr, ts
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="cn.hups.productMageMent.entity.WfDipProductionExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from wf_dip_production
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from wf_dip_production
    where pk_dip_production = #{pkDipProduction,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from wf_dip_production
    where pk_dip_production = #{pkDipProduction,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="cn.hups.productMageMent.entity.WfDipProductionExample" >
    delete from wf_dip_production
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="cn.hups.productMageMent.entity.WfDipProduction" >
    insert into wf_dip_production (pk_dip_production, pk_smt_production, 
      process, dip_state, pickingtime, 
      starttime, finishtime, numbertime, 
      completion_number, creator, creationtime, 
      modifier, modifiertime, dr, 
      ts)
    values (#{pkDipProduction,jdbcType=INTEGER}, #{pkSmtProduction,jdbcType=INTEGER}, 
      #{process,jdbcType=VARCHAR}, #{dipState,jdbcType=INTEGER}, #{pickingtime,jdbcType=CHAR}, 
      #{starttime,jdbcType=CHAR}, #{finishtime,jdbcType=CHAR}, #{numbertime,jdbcType=VARCHAR}, 
      #{completionNumber,jdbcType=INTEGER}, #{creator,jdbcType=INTEGER}, #{creationtime,jdbcType=CHAR}, 
      #{modifier,jdbcType=INTEGER}, #{modifiertime,jdbcType=CHAR}, #{dr,jdbcType=INTEGER}, 
      #{ts,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="cn.hups.productMageMent.entity.WfDipProduction" >
    <selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="pkDipProduction">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into wf_dip_production
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="pkDipProduction != null" >
        pk_dip_production,
      </if>
      <if test="pkSmtProduction != null" >
        pk_smt_production,
      </if>
      <if test="process != null" >
        process,
      </if>
      <if test="dipState != null" >
        dip_state,
      </if>
      <if test="pickingtime != null" >
        pickingtime,
      </if>
      <if test="starttime != null" >
        starttime,
      </if>
      <if test="finishtime != null" >
        finishtime,
      </if>
      <if test="numbertime != null" >
        numbertime,
      </if>
      <if test="completionNumber != null" >
        completion_number,
      </if>
      <if test="creator != null" >
        creator,
      </if>
      <if test="creationtime != null" >
        creationtime,
      </if>
      <if test="modifier != null" >
        modifier,
      </if>
      <if test="modifiertime != null" >
        modifiertime,
      </if>
      <if test="dr != null" >
        dr,
      </if>
      <if test="ts != null" >
        ts,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="pkDipProduction != null" >
        #{pkDipProduction,jdbcType=INTEGER},
      </if>
      <if test="pkSmtProduction != null" >
        #{pkSmtProduction,jdbcType=INTEGER},
      </if>
      <if test="process != null" >
        #{process,jdbcType=VARCHAR},
      </if>
      <if test="dipState != null" >
        #{dipState,jdbcType=INTEGER},
      </if>
      <if test="pickingtime != null" >
        #{pickingtime,jdbcType=CHAR},
      </if>
      <if test="starttime != null" >
        #{starttime,jdbcType=CHAR},
      </if>
      <if test="finishtime != null" >
        #{finishtime,jdbcType=CHAR},
      </if>
      <if test="numbertime != null" >
        #{numbertime,jdbcType=VARCHAR},
      </if>
      <if test="completionNumber != null" >
        #{completionNumber,jdbcType=INTEGER},
      </if>
      <if test="creator != null" >
        #{creator,jdbcType=INTEGER},
      </if>
      <if test="creationtime != null" >
        #{creationtime,jdbcType=CHAR},
      </if>
      <if test="modifier != null" >
        #{modifier,jdbcType=INTEGER},
      </if>
      <if test="modifiertime != null" >
        #{modifiertime,jdbcType=CHAR},
      </if>
      <if test="dr != null" >
        #{dr,jdbcType=INTEGER},
      </if>
      <if test="ts != null" >
        #{ts,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="cn.hups.productMageMent.entity.WfDipProductionExample" resultType="java.lang.Integer" >
    select count(*) from wf_dip_production
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update wf_dip_production
    <set >
      <if test="record.pkDipProduction != null" >
        pk_dip_production = #{record.pkDipProduction,jdbcType=INTEGER},
      </if>
      <if test="record.pkSmtProduction != null" >
        pk_smt_production = #{record.pkSmtProduction,jdbcType=INTEGER},
      </if>
      <if test="record.process != null" >
        process = #{record.process,jdbcType=VARCHAR},
      </if>
      <if test="record.dipState != null" >
        dip_state = #{record.dipState,jdbcType=INTEGER},
      </if>
      <if test="record.pickingtime != null" >
        pickingtime = #{record.pickingtime,jdbcType=CHAR},
      </if>
      <if test="record.starttime != null" >
        starttime = #{record.starttime,jdbcType=CHAR},
      </if>
      <if test="record.finishtime != null" >
        finishtime = #{record.finishtime,jdbcType=CHAR},
      </if>
      <if test="record.numbertime != null" >
        numbertime = #{record.numbertime,jdbcType=VARCHAR},
      </if>
      <if test="record.completionNumber != null" >
        completion_number = #{record.completionNumber,jdbcType=INTEGER},
      </if>
      <if test="record.creator != null" >
        creator = #{record.creator,jdbcType=INTEGER},
      </if>
      <if test="record.creationtime != null" >
        creationtime = #{record.creationtime,jdbcType=CHAR},
      </if>
      <if test="record.modifier != null" >
        modifier = #{record.modifier,jdbcType=INTEGER},
      </if>
      <if test="record.modifiertime != null" >
        modifiertime = #{record.modifiertime,jdbcType=CHAR},
      </if>
      <if test="record.dr != null" >
        dr = #{record.dr,jdbcType=INTEGER},
      </if>
      <if test="record.ts != null" >
        ts = #{record.ts,jdbcType=CHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update wf_dip_production
    set pk_dip_production = #{record.pkDipProduction,jdbcType=INTEGER},
      pk_smt_production = #{record.pkSmtProduction,jdbcType=INTEGER},
      process = #{record.process,jdbcType=VARCHAR},
      dip_state = #{record.dipState,jdbcType=INTEGER},
      pickingtime = #{record.pickingtime,jdbcType=CHAR},
      starttime = #{record.starttime,jdbcType=CHAR},
      finishtime = #{record.finishtime,jdbcType=CHAR},
      numbertime = #{record.numbertime,jdbcType=VARCHAR},
      completion_number = #{record.completionNumber,jdbcType=INTEGER},
      creator = #{record.creator,jdbcType=INTEGER},
      creationtime = #{record.creationtime,jdbcType=CHAR},
      modifier = #{record.modifier,jdbcType=INTEGER},
      modifiertime = #{record.modifiertime,jdbcType=CHAR},
      dr = #{record.dr,jdbcType=INTEGER},
      ts = #{record.ts,jdbcType=CHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="cn.hups.productMageMent.entity.WfDipProduction" >
    update wf_dip_production
    <set >
      <if test="pkSmtProduction != null" >
        pk_smt_production = #{pkSmtProduction,jdbcType=INTEGER},
      </if>
      <if test="process != null" >
        process = #{process,jdbcType=VARCHAR},
      </if>
      <if test="dipState != null" >
        dip_state = #{dipState,jdbcType=INTEGER},
      </if>
      <if test="pickingtime != null" >
        pickingtime = #{pickingtime,jdbcType=CHAR},
      </if>
      <if test="starttime != null" >
        starttime = #{starttime,jdbcType=CHAR},
      </if>
      <if test="finishtime != null" >
        finishtime = #{finishtime,jdbcType=CHAR},
      </if>
      <if test="numbertime != null" >
        numbertime = #{numbertime,jdbcType=VARCHAR},
      </if>
      <if test="completionNumber != null" >
        completion_number = #{completionNumber,jdbcType=INTEGER},
      </if>
      <if test="creator != null" >
        creator = #{creator,jdbcType=INTEGER},
      </if>
      <if test="creationtime != null" >
        creationtime = #{creationtime,jdbcType=CHAR},
      </if>
      <if test="modifier != null" >
        modifier = #{modifier,jdbcType=INTEGER},
      </if>
      <if test="modifiertime != null" >
        modifiertime = #{modifiertime,jdbcType=CHAR},
      </if>
      <if test="dr != null" >
        dr = #{dr,jdbcType=INTEGER},
      </if>
      <if test="ts != null" >
        ts = #{ts,jdbcType=CHAR},
      </if>
    </set>
    where pk_dip_production = #{pkDipProduction,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.hups.productMageMent.entity.WfDipProduction" >
    update wf_dip_production
    set pk_smt_production = #{pkSmtProduction,jdbcType=INTEGER},
      process = #{process,jdbcType=VARCHAR},
      dip_state = #{dipState,jdbcType=INTEGER},
      pickingtime = #{pickingtime,jdbcType=CHAR},
      starttime = #{starttime,jdbcType=CHAR},
      finishtime = #{finishtime,jdbcType=CHAR},
      numbertime = #{numbertime,jdbcType=VARCHAR},
      completion_number = #{completionNumber,jdbcType=INTEGER},
      creator = #{creator,jdbcType=INTEGER},
      creationtime = #{creationtime,jdbcType=CHAR},
      modifier = #{modifier,jdbcType=INTEGER},
      modifiertime = #{modifiertime,jdbcType=CHAR},
      dr = #{dr,jdbcType=INTEGER},
      ts = #{ts,jdbcType=CHAR}
    where pk_dip_production = #{pkDipProduction,jdbcType=INTEGER}
  </update>
</mapper>